@font-face {
    font-family: LilitaOne;
    src: url("../font/LilitaOne-Regular.ttf");
}

@font-face {
    font-family: Volkorn;
    src: url("../font/Vollkorn-VariableFont_wght.ttf");
}

#content {
    padding: 10vh 0;
}

#login-model {
    border-radius: 16px;
}

    #login-model #l-m-header {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
        background-color: rgb(80, 83, 88);
        color: white;
        padding: 20px 0px 10px 0px;
    }

        #login-model #l-m-header h5 {
            font-family: LilitaOne;
        }

        #login-model #l-m-header h6 {
            font-family: Volkorn;
            font-weight: 400;
            color: rgb(236, 241, 242);
        }

    #login-model #l-m-body {
        border: 1px solid rgba(0,0,0,0.03);
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
    }

        #login-model #l-m-body input {
            border: 2px solid rgba(0,0,0,0.07);
            border-radius: 4px;
            padding: 3px 10px;
        }

        #login-model #l-m-body #login-btn > input {
            font-family: cursive;
            padding: 2px 40px 5px 40px;
            background-color: rgb(246, 112, 123);
            color: white;
            box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.3);
        }

            #login-model #l-m-body #login-btn > input:hover {
                background-color: rgb(195, 88, 97);
            }

            #login-model #l-m-body #login-btn > input:active {
                background-color: rgb(169, 77, 84);
            }

        