@font-face {
    font-family: LilitaOne;
    src: url("../font/LilitaOne-Regular.ttf");
}

@font-face {
    font-family: Volkorn;
    src: url("../font/Vollkorn-VariableFont_wght.ttf");
}

@font-face {
    font-family: Volkorn-Italic;
    src: url("../font/Vollkorn-Italic-VariableFont_wght.ttf");
}

