.sidenav-section {
    justify-content: center;
    position: sticky;
    top: 15px;
    height: 100%;
}

.sidenav-section .sidenav-item {
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 3px;
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.1);
}

.sidenav-item .item-header {
    background-color: rgb(247, 247, 247);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.sidenav-item .item-header > h4 {
    margin: 0;
}

.sidenav-item .item-body {
    background-color: white;
}

.sidenav-item .item-body .search > input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.sidenav-item .item-body .search > button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.sidenav-item .item-body .category > li > a, .sidenav-item .item-body .recent-news > li > a, .sidenav-item .item-body .feedback > li > a {
    text-decoration: none;
}

@media only screen and (max-width: 992px) {
    .sidenav-section {
        order: -1;
        position: relative;
        margin-bottom: 3rem;
    }
}