#content {
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.item {
    padding: 0.5rem;
    
}
s
.item > div {
    padding: 0.5rem 1rem;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 4px;
}

.item .title {
    font-size: small;
    font-weight: bold;
    color: rgb(109, 149, 194);
}

.item .state {
    min-height: 3rem;
}

.item .state .ico-color-dashboard {
    min-width: 3rem;
}